.not {
  border:2px solid black;
  width: 250px;
  height: 250px;
  background-color: #222f3e;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  color:white;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 100vh;
  background-color: #8395af;
}
.bardak0{
  color: blueviolet;
  font-size: 40px;
}
.bardak1{
  color: blue;
  font-size: 40px;
}
.bardak2{
  color: green;
  font-size: 40px;
}
.bardak3{
  color: red;
  font-size: 40px;
}
body{
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li {
  display: block;
}
